[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackbot = "*"
"boto3" = "*"
markdown = "*"
pdfkit = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"

[scripts]
start = "python run.py"
